*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Home.js */
body{
    background-color: #fcfcfc;
    color: #57606A;
    text-align: center;
}
.container {
    display: inline-block;
    width: 70%;
}
.title-shell {
    margin: 20px 0px 10px 0px;
}
.title-text {
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
}
.title-img{
    margin-right: 5px;
}

/* sort-shell */
.sort-shell div,input {
    text-align: center;
}
.search-bar {

}

.search-bar input{
    padding: 4px 0px;
    border:0;
    background-color: #fcfcfc;
    border-bottom: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.search-bar .dropdown-btn{
    border: 1px solid transparent;
}
.sort-btn{
    display: inline-block;
    cursor: pointer;
}
.clear-btn-section{
    margin: 15px 0px;
}
.clear-btn{
    padding: 2px 10px;
    background-color: #7db9fd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.clear-btn:hover{
    background-color: #0969da;
}

/* contents-shell  */
.contents-shell{
    height: 40%;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: left;
}

/* btn-shell */
.btn-shell{
    padding: 20px;
}
.btn-section div{
    display: inline-block;
    padding: 5px 5px ;
    border-radius: 5px;
    font-size: 14px;
    user-select: none;
}
.btn-section div:hover{
    background-color: #ddf4ff;
}
.prev-btn, .next-btn {
    width: 90px;
    vertical-align: middle;
    cursor: pointer;
}
.num-btn{
    width: 20px;
    cursor: pointer;
}
.selected-btn{
    color: #0969da;
    font-weight: bold;
}

/* Dropdown.js */
.dropdown{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.dropdown, .sort-btn{
    margin-left: 15px;
    width: 90px;
    padding: 3px 0px;
    border: 1px solid lightgray;
    border-radius: 15px;
    font-size: 14px;
    user-select: none;
}
.dropdown:hover, .sort-btn:hover{
    background-color: black;
    color: white;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 5px;
    width: 200%;
    background-color: #fff;
    color: #333;
    font-weight: 500;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
}
.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor: pointer;
    transition:  all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover{
    background: #f4f4f4;
}

/* List.js */
.list-shell{
    padding: 15px 20px;
    border-bottom: 1px solid lightgray;
}
.list-shell h3 {
    padding-right: 5px;
}
.list-shell h3 a{
    font-size: 28px;
    text-decoration: none;
}
.list-shell h3 a:hover{
    text-decoration: underline;
}
.list-shell h3 a:active{
    color: black;
}
.list-shell h3 span{
    margin-left: 10px;
    padding: 2px 6px;
    vertical-align: text-top;
    border: 1px solid lightgray;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}
.description-shell{
    margin: 10px 0px;
}
.topic-shell{
    margin: 10px 0px;
}
.topic-badge{
    padding: 4px 10px;
    margin-right: 8px;
    border-radius: 15px;
    background-color: #ddf4ff;
    color: #0969da;
}
.bottom-shell>span{
    margin-right: 20px;
    font-size: 14px;
}
.bottom-shell>span>svg{
    margin-right: 3px;
}


/* language DOT ---------------------------------------------------------------------------- */
.C{
    color: #555555;
}
.Go{
    color: #00ADD8;
}
.Hack{
    color: #878787;
}
.Haskell{
    color: #5e5086;
}
.HTML{
    color: #e34c26;
}
.Java{
    color: #b07219;
}
.JavaScript{
    color: #f1e05a;
}
.Kotlin{
    color: #A97BFF;
}
.Objective-C{
    color: #438eff;
}
.OCaml{
    color: #3be133;
}
.PHP{
    color: #4F5D95;
}
.Python{
    color: #3572A5;
}
.Ruby{
    color: #701516;
}
.Rust{
    color: #dea584;
}
.Swift{
    color: #F05138;
}
.TypeScript{
    color: #3178c6;
}